[submodule "filesystem-sample"]
	path = filesystem-sample
	url = https://github.com/RT-Thread-packages/filesystem-sample.git
[submodule "peripheral-sample"]
	path = peripheral-sample
	url = https://github.com/RT-Thread-packages/peripheral-sample.git
[submodule "kernel-sample"]
	path = kernel-sample
	url = https://github.com/RT-Thread-packages/kernel-sample.git
[submodule "network-sample"]
	path = network-sample
	url = https://github.com/RT-Thread-packages/network-sample.git
